
@{
    ViewBag.Title = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BANNER -->
<div class="section banner-page pages">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Policy</div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Pages</a></li>
                    <li class="active">Policy</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- SINGLE PAGE -->
<div class="section pages section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <h2 class="section-heading">
                    Privacy Policy
                </h2>
                <div class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                <ul class="checklist">
                    <li>100% Secure, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</li>
                    <li>Easy to claim, sed diam nonummy nibh euismod. Lorem ipsum dolor sit amet.</li>
                    <li>More benefit nonummy nibh euismod. Lorem ipsum dolor sit amet, consectetuer.</li>
                </ul>

            </div>
            <div class="col-sm-5 col-md-5">
                <img src="images/600x400.jpg" alt="" class="img-responsive">
            </div>

        </div>
    </div>
</div>

<!-- OPEN POSITION -->
<div class="section why section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading">
                    Terms & Conditions for Use of this Site
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="margin-bottom-50"></div>

                <div class="career-tabs" data-example-id="togglable-tabs">
                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Tab1</a></li>
                        <li class=""><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Tab2</a></li>
                        <li class=""><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Tab3</a></li>
                        <li class=""><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Tab4</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab1">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="body-tab">
                                        <h4>Copyright / Trademark</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p><p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum.</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>Submitted Ideas Policy</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p>
                                        <ul>
                                            <li>Sollicitudin viverra vel varius</li>
                                            <li>Ligula id commodo aenean est in volutpat amet sodales</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Dolor sit ametviverra vel varius</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab2">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="body-tab">
                                        <h4>JOB DESCRIPTION</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p><p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum.</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>RECRUITMENT</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p>
                                        <ul>
                                            <li>Sollicitudin viverra vel varius</li>
                                            <li>Ligula id commodo aenean est in volutpat amet sodales</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Dolor sit ametviverra vel varius</li>
                                        </ul>
                                        <div class="margin-bottom-30"></div>
                                        <h4>LOCATIONS</h4>
                                        <p>Pekanbaru, Riau, ID</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>DEPARTMENT</h4>
                                        <p>Project Management</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>END DATE</h4>
                                        <p>March 15, 2016</p>
                                        <div class="margin-bottom-30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="body-tab">
                                        <h4>JOB DESCRIPTION</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p><p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum.</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>RECRUITMENT</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p>
                                        <ul>
                                            <li>Sollicitudin viverra vel varius</li>
                                            <li>Ligula id commodo aenean est in volutpat amet sodales</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Dolor sit ametviverra vel varius</li>
                                        </ul>
                                        <div class="margin-bottom-30"></div>
                                        <h4>LOCATIONS</h4>
                                        <p>Pekanbaru, Riau, ID</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>DEPARTMENT</h4>
                                        <p>Project Management</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>END DATE</h4>
                                        <p>March 15, 2016</p>
                                        <div class="margin-bottom-30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab4">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="body-tab">
                                        <h4>JOB DESCRIPTION</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p><p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum.</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>RECRUITMENT</h4>
                                        <p>Lorem ipsum dolor sit amet libero turpis non cras ligula id commodo aenean est in volutpat amet sodales porttitor bibendum facilisi suspendisse aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra vel varius eget sit mollis.</p>
                                        <ul>
                                            <li>Sollicitudin viverra vel varius</li>
                                            <li>Ligula id commodo aenean est in volutpat amet sodales</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Dolor sit ametviverra vel varius</li>
                                        </ul>
                                        <div class="margin-bottom-30"></div>
                                        <h4>LOCATIONS</h4>
                                        <p>Pekanbaru, Riau, ID</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>DEPARTMENT</h4>
                                        <p>Project Management</p>
                                        <div class="margin-bottom-30"></div>
                                        <h4>END DATE</h4>
                                        <p>March 15, 2016</p>
                                        <div class="margin-bottom-30"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END TAB -->

            </div>
        </div>
    </div>
</div>

<!-- AGENTS -->
<div class="section testimony">
    <div class="container">

        <div class="row">

            <div class="col-sm-6 col-md-3 col-md-offset-2">
                <div class="people">
                    <img class="user-pic" src="images/say-img-2.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">

                <div class="margin-bottom-70"></div>
                <h2 class="title-agent">Select Your Agents Now!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="btn btn-secondary" title="OUR COMPANY">FIND AN AGENTS</a>
                <div class="margin-bottom-50"></div>

            </div>

        </div>
    </div>
</div>

<!-- CTA -->
<div class="section cta">
    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <h3 class="cta-desc">Get An Insurance Right Now & Save up to 10%</h3>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="@Url.Action("","Contact")" title="" class="btn btn-orange-cta pull-right btn-view-all">GET A QUOTE</a>
            </div>

        </div>
    </div>
</div>

