USE [master]
GO
/****** Object:  Database [InsuranceOnline]    Script Date: 5/28/2022 11:26:12 PM ******/
CREATE DATABASE [InsuranceOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InsuranceOnline', FILENAME = N'e:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\InsuranceOnline.mdf' , SIZE = 3456KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InsuranceOnline_log', FILENAME = N'e:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\InsuranceOnline_log.ldf' , SIZE = 896KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InsuranceOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InsuranceOnline]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Beneficiary] [nvarchar](255) NULL,
	[Duration] [int] NOT NULL,
	[Created_at] [datetime] NULL,
	[Expired_at] [datetime] NULL,
	[CustomerID] [int] NULL,
	[InsuranceID] [int] NULL,
	[Status] [bit] NULL,
	[Total] [money] NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Phone] [varchar](12) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
 CONSTRAINT [PK_FAQs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackContent] [nvarchar](255) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[InsuranceId] [int] NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[Amount] [money] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Claim] [money] NOT NULL,
 CONSTRAINT [PK_Insurances] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Created_at] [datetime] NULL,
	[Amount] [money] NULL,
	[CustomerId] [int] NULL,
	[Duration] [int] NULL,
	[Expired_at] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Loan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NULL,
	[Author] [nvarchar](50) NULL,
	[Created_at] [datetime] NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ContentDetails] [varchar](255) NULL,
	[PaidAmount] [money] NOT NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[PaymentID] [int] NOT NULL,
	[PeriodicID] [int] NOT NULL,
 CONSTRAINT [PK_PaymentDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Total] [money] NOT NULL,
	[ContractID] [int] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodicPaymentMethods]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodicPaymentMethods](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[NumberOfMonth] [int] NOT NULL,
 CONSTRAINT [PK_PeriodicPaymentMethods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[InsuranceId] [int] NULL,
 CONSTRAINT [PK_Policys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Replies]    Script Date: 5/28/2022 11:26:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [varchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Updated_at] [datetime] NULL,
	[FAQsID] [int] NULL,
 CONSTRAINT [PK_Replys] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([ID], [Username], [Password]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Created_at], [Updated_at], [Image]) VALUES (1, N'Life Insurance', N'Life Insurance', CAST(N'2022-05-26T23:15:34.420' AS DateTime), CAST(N'2022-05-26T23:15:34.420' AS DateTime), N'\assets\product-images\hagl-1554335005576.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Created_at], [Updated_at], [Image]) VALUES (3, N'Health insurance', N'Health insurance', CAST(N'2022-05-26T23:15:34.420' AS DateTime), CAST(N'2022-05-26T23:15:34.420' AS DateTime), N'https://www.volkswagen.co.in/content/dam/onehub_pkw/importers/in/owners/insurance/Volkswagen-Motor-Insurance.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Created_at], [Updated_at], [Image]) VALUES (4, N'Travel insurance', N'Travel insurance', CAST(N'2022-05-26T23:15:34.420' AS DateTime), CAST(N'2022-05-26T23:15:34.420' AS DateTime), N'https://www.volkswagen.co.in/content/dam/onehub_pkw/importers/in/owners/insurance/Volkswagen-Motor-Insurance.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ID], [Beneficiary], [Duration], [Created_at], [Expired_at], [CustomerID], [InsuranceID], [Status], [Total]) VALUES (27, N'no', 3, CAST(N'2022-05-28T22:53:36.190' AS DateTime), CAST(N'2025-10-15T22:53:00.000' AS DateTime), 4, 2, 1, 190000.0000)
INSERT [dbo].[Contracts] ([ID], [Beneficiary], [Duration], [Created_at], [Expired_at], [CustomerID], [InsuranceID], [Status], [Total]) VALUES (28, N'NO', 2, CAST(N'2022-05-28T23:24:00.000' AS DateTime), CAST(N'2024-05-28T23:24:00.000' AS DateTime), 1, 1, 0, 10000000.0000)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [Username], [Password], [Gender], [Birthday], [Phone], [Address], [Email], [Created_at], [Updated_at], [Status]) VALUES (1, N'admin', N'123', 0, CAST(N'1993-02-02T00:00:00.000' AS DateTime), N'098876543', N'Ha Noi', N'theanh@gmail.com', CAST(N'2022-05-01T00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Customers] ([ID], [Username], [Password], [Gender], [Birthday], [Phone], [Address], [Email], [Created_at], [Updated_at], [Status]) VALUES (2, N'Nam', N'123456', 1, CAST(N'1998-01-20T00:00:00.000' AS DateTime), N'012 456 789', N'HCM City', N'nam123@gmail.com', CAST(N'2022-05-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Customers] ([ID], [Username], [Password], [Gender], [Birthday], [Phone], [Address], [Email], [Created_at], [Updated_at], [Status]) VALUES (3, N'Nhi', N'123456', 0, CAST(N'1993-01-20T00:00:00.000' AS DateTime), N'0145456789', N'HCM City', N'nhi1245@gmail.com', CAST(N'2022-05-01T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[FAQs] ON 

INSERT [dbo].[FAQs] ([ID], [Question], [Created_at], [Updated_at]) VALUES (1, N'What kinds of questions should I be expected to answer when I am applying for an insurance policy? Why do insurers need so much information?', CAST(N'2022-05-26T23:15:34.420' AS DateTime), NULL)
INSERT [dbo].[FAQs] ([ID], [Question], [Created_at], [Updated_at]) VALUES (2, N'I have an older car whose current market value is very low – do I really need to purchase automobile insurance?', CAST(N'2022-05-26T23:15:34.420' AS DateTime), NULL)
INSERT [dbo].[FAQs] ([ID], [Question], [Created_at], [Updated_at]) VALUES (3, N'What are the advantages to using an agent to purchase insurance?', CAST(N'2022-05-26T23:15:34.420' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[FAQs] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackContent], [Created_at], [Updated_at], [InsuranceId], [CustomerId]) VALUES (1, N'We specialize in 23 different kinds of pest, and we''re also qualified to handle a much wider range of pest control needs. If you have a pest problem that''s not covered in our pest library.', NULL, NULL, 1, 1)
INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackContent], [Created_at], [Updated_at], [InsuranceId], [CustomerId]) VALUES (2, N'We specialize in 23 different kinds of pest, and we''re also qualified to handle a much wider range of pest control needs. If you have a pest problem that''s not covered in our pest library.', NULL, NULL, 2, 2)
INSERT [dbo].[Feedbacks] ([FeedbackId], [FeedbackContent], [Created_at], [Updated_at], [InsuranceId], [CustomerId]) VALUES (3, N'We specialize in 23 different kinds of pest, and we''re also qualified to handle a much wider range of pest control needs. If you have a pest problem that''s not covered in our pest library.', NULL, NULL, 3, 3)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Insurances] ON 

SET IDENTITY_INSERT [dbo].[Insurances] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentDetails] ON 

INSERT [dbo].[PaymentDetails] ([ID], [ContentDetails], [PaidAmount], [Created_at], [Updated_at], [PaymentID], [PeriodicID]) VALUES (38, N'no', 123.0000, CAST(N'2022-05-28T23:11:40.710' AS DateTime), CAST(N'2022-05-28T23:11:26.000' AS DateTime), 18, 2)
INSERT [dbo].[PaymentDetails] ([ID], [ContentDetails], [PaidAmount], [Created_at], [Updated_at], [PaymentID], [PeriodicID]) VALUES (39, N'no', 2300000.0000, CAST(N'2022-05-28T23:11:52.117' AS DateTime), CAST(N'2022-05-28T23:11:48.000' AS DateTime), 18, 1)
SET IDENTITY_INSERT [dbo].[PaymentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([ID], [Total], [ContractID]) VALUES (18, 2300123.0000, 27)
INSERT [dbo].[Payments] ([ID], [Total], [ContractID]) VALUES (19, 0.0000, 28)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[PeriodicPaymentMethods] ON 

INSERT [dbo].[PeriodicPaymentMethods] ([ID], [Name], [NumberOfMonth]) VALUES (1, N'Season', 3)
INSERT [dbo].[PeriodicPaymentMethods] ([ID], [Name], [NumberOfMonth]) VALUES (2, N'Monthly', 1)
INSERT [dbo].[PeriodicPaymentMethods] ([ID], [Name], [NumberOfMonth]) VALUES (3, N'Yearly', 12)
SET IDENTITY_INSERT [dbo].[PeriodicPaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Policies] ON 

SET IDENTITY_INSERT [dbo].[Policies] OFF
GO
SET IDENTITY_INSERT [dbo].[Replies] ON 

INSERT [dbo].[Replies] ([ID], [Answer], [Created_at], [Updated_at], [FAQsID]) VALUES (5, N'By using an agent to purchase insurance, the policyholder receives more personal service. An agent with whom there is direct contact can be vital when purchasing a product and absolutely necessary when filing a claim. A local, independent agent is able to deliver quality insurance with competitive pricing and local personalized service.', CAST(N'2022-05-26T23:15:34.420' AS DateTime), CAST(N'2022-05-27T22:42:47.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Replies] OFF
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_Duration]  DEFAULT ((1)) FOR [Duration]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[FAQs] ADD  CONSTRAINT [DF_FAQs_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  CONSTRAINT [DF_Feedbacks_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Insurances] ADD  CONSTRAINT [DF_Insurances_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Insurances] ADD  CONSTRAINT [DF_Insurances_Amount]  DEFAULT ((1)) FOR [Amount]
GO
ALTER TABLE [dbo].[Insurances] ADD  CONSTRAINT [DF_Insurances_Claim]  DEFAULT ((1)) FOR [Claim]
GO
ALTER TABLE [dbo].[Loans] ADD  CONSTRAINT [DF_Loans_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [DF_News_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[PaymentDetails] ADD  CONSTRAINT [DF_PaymentDetails_PaidAmount]  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[PaymentDetails] ADD  CONSTRAINT [DF_PaymentDetails_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Policies] ADD  CONSTRAINT [DF_Policies_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Replies] ADD  CONSTRAINT [DF_Replies_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Customers]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Insurances] FOREIGN KEY([InsuranceID])
REFERENCES [dbo].[Insurances] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Insurances]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Customers]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Insurances] FOREIGN KEY([InsuranceId])
REFERENCES [dbo].[Insurances] ([ID])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Insurances]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_Insurances_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_Insurances_Categories]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Customers]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_Payments]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_PeriodicPaymentMethods] FOREIGN KEY([PeriodicID])
REFERENCES [dbo].[PeriodicPaymentMethods] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_PeriodicPaymentMethods]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Contracts] FOREIGN KEY([ContractID])
REFERENCES [dbo].[Contracts] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Contracts]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Insurances] FOREIGN KEY([InsuranceId])
REFERENCES [dbo].[Insurances] ([ID])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Insurances]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_FAQs1] FOREIGN KEY([FAQsID])
REFERENCES [dbo].[FAQs] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_FAQs1]
GO
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [check_expired_date] CHECK  ((datepart(year,[contracts].[Expired_at])>datepart(year,[contracts].[Created_at])))
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [check_expired_date]
GO
USE [master]
GO
