
@{
    ViewBag.Title = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- BANNER -->
<div class="section banner-page about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="title-page">Our Team</div>
                <ol class="breadcrumb">
                    <li><a href="index.html">About Us</a></li>
                    <li class="active">Our Team</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="section about section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading">
                    Meet Our Team
                </h2>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6 col-md-6">
                <div class="box-team">
                    <div class="box-image">
                        <div class="sosmed">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="images/600X600.jpg" alt="">
                    </div>
                    <div class="body-content">
                        <div class="people">Rome Doel</div>
                        <div class="position">Advisor</div>
                        <div class="excert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                        <div class="phone">
                            <span class="fa fa-phone"></span> 654-123987
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="box-team">
                    <div class="box-image">
                        <div class="sosmed">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="images/600X600.jpg" alt="">
                    </div>
                    <div class="body-content">
                        <div class="people">Annisa Doel</div>
                        <div class="position">Manager</div>
                        <div class="excert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                        <div class="phone">
                            <span class="fa fa-phone"></span> 654-123987
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="box-team">
                    <div class="box-image">
                        <div class="sosmed">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="images/600X600.jpg" alt="">
                    </div>
                    <div class="body-content">
                        <div class="people">Raisa Doel</div>
                        <div class="position">Advisor</div>
                        <div class="excert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                        <div class="phone">
                            <span class="fa fa-phone"></span> 654-123987
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="box-team">
                    <div class="box-image">
                        <div class="sosmed">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <img src="images/600X600.jpg" alt="">
                    </div>
                    <div class="body-content">
                        <div class="people">Bagus Doel</div>
                        <div class="position">Advisor</div>
                        <div class="excert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                        <div class="phone">
                            <span class="fa fa-phone"></span> 654-123987
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- CTA -->
<div class="section cta">
    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <h3 class="cta-desc">Get An Insurance Right Now & Save up to 10%</h3>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="@Url.Action("","Contact")" title="" class="btn btn-orange-cta pull-right btn-view-all">GET A QUOTE</a>
            </div>

        </div>
    </div>
</div>
