@{
    Layout = null;
    var _address = "Ho Chi Minh City - Viet Nam";
    var _phone = " (+84) 123 456 789";
    var _time_work = "Mon - Sat | 08:00 - 17:00";
    var _contact_email = "vninsuarancesupport@isv.com.vn";
}
<div class="widget contact-info-sidebar">
    <div class="widget-title">
        Contact Info
    </div>
    <ul class="list-info">
        <li>
            <div class="info-icon">
                <span class="fa fa-map-marker"></span>
            </div>
            <div class="info-text">@_address</div>
        </li>
        <li>
            <div class="info-icon">
                <span class="fa fa-phone"></span>
            </div>
            <div class="info-text">@_phone</div>
        </li>
        <li>
            <div class="info-icon">
                <span class="fa fa-envelope"></span>
            </div>
            <div class="info-text">@_contact_email</div>
        </li>
        <li>
            <div class="info-icon">
                <span class="fa fa-clock-o"></span>
            </div>
            <div class="info-text">@_time_work</div>
        </li>
    </ul>
</div>