@model WebApp.Models.Contract

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
             <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceId" class="control-label">Insurance</label>
                <select asp-for="InsuranceId" class="form-control" asp-items="ViewBag.InsuranceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiary" class="control-label"></label>
                <input asp-for="Beneficiary" class="form-control" />
                <span asp-validation-for="Beneficiary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" id="CreatedAt"/>
                <span asp-validation-for="ExpiredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiredAt" class="control-label"></label>
                <input asp-for="ExpiredAt" class="form-control" id="ExpiredAt"/>
                <span asp-validation-for="ExpiredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Duration (Year)</label>
                <input asp-for="Duration" class="form-control" id="duration"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select name="Status">
                    <option value="True" selected>Completed</option>
                    <option value="False">Maintaining</option>
                    <option value="Null">Cancelled</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

